*{
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
}

canvas{
  border: 1px solid yellow;
}

.screen{
  position: absolute;
  height: 50vh;
  width: 50vw;
  background: black;
  border: 1px solid white;
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family:'Arcade Normal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.score{
  font-size: 1.8rem;
  padding: 2rem 0;
}

.reset{
  margin-top: auto;
  font-family:'Arcade Normal', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  background: transparent;
  border: 1px solid white;
  color:white;
  cursor: pointer;
  outline: none;
}

.reset:hover{
  background: white;
  color: black;
}